.food-item {
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 0 10px #00000015;
  transition: transform 0.3s;
  overflow: hidden;
  background-color: #fff;
  margin: 15px;
}

.food-item:hover {
  transform: scale(1.03);
}

.food-item-img-container {
  position: relative;
}

.food-item-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.add {
  width: 35px;
  height: 35px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.food-item-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
}

.food-item-counter img {
  width: 20px;
  cursor: pointer;
}

.food-item-info {
  padding: 15px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-item-name-rating p {
  font-size: 18px;
  font-weight: 600;
}

.food-item-desc {
  color: #777;
  font-size: 13px;
  margin-top: 5px;
}

.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}
.food-item-img-container .add{
  width:35px;
  position:absolute;
  bottom:15px;
  right:15px;
  cursor:pointer;
  border-radius:50%;
}
.food-item-counter{
  position:absolute;
  bottom:15px;
  right:15px;
  display:flex;
  align-items:center;
  gap:10px;
  padding:6px;
  border-radius:50px;
  background-color: white;
}
.food-item-counter img{
  width:30px;
}